<div class="subcategory-card__benchmark-item">
  <svg class="subcategory-card__circle" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
    <% if presenter.display_icon? %>
      <use class="fill-<%= presenter.color %>" xlink:href="#<%= presenter.harvey_ball_icon %>"></use>
    <% end %>
  </svg>

  <div class="subcategory-card__name"><%= subcategory.name %></div>
</div>
