<% content_for :navigation do %>
  <h2 class="h1 color-white">Areas Of Interest</h2>
<% end %>

<div class="card">
  <div class="mb-5">
    <h2 class="h2 color-black">Distance from benchmark</h2>
  </div>

  <%= render partial: "variance_graph", locals: { presenters: @presenters } %>
</div>
