<% content_for :navigation do %>
  <h2 class="h1 color-white">Areas Of Interest</h2>
<% end %>

<div class="bg-color-beige mt-4 p-5">

  <div>
    <h2 class="h1 color-red">Distance from benchmark</h2>
    <p class="body-large mb-6">This graph shows how much a score is above or below the benchmark of any given scale.</p>
  </div>

  <%= render partial: "variance_graph", locals: { presenters: @presenters } %>

</div>
