<% content_for :navigation do %>
  <h2 class="sub-header color-white">Areas Of Interest</h2>
<% end %>

<div class="card">
  <div class="mb-5">
    <h2 class="sub-header-2 color-black">Distance from benchmark</h2>
  </div>

  <%= render partial: "variance_graph", locals: { presenters: @measure_graph_row_presenters} %>
</div>

  <%= render partial: "quality_framework_indicators", locals: { category_presenters: @category_presenters } %>
