%h2.text-center= current_user.email

%br
%br
%br
%h3 Schools
- if current_user.schools.blank?
  %p
    %strong None Yet
- else
  %table{style: 'width: 100%;'}
    %tbody
      %thead{style: 'font-weight: bold;'}
        %th Name
        %th{colspan: 2}
      - current_user.schools.each do |school|
        %tr.school
          %td= link_to school.name, school
          %td= link_to('Admin', school_admin_path(school))
