<header class="row">
  <div class="title col-12">
    <div class="float-right">
      <%= link_to("Frequently Asked Questions", "/MCIEA-Data-Dashboard-FAQ.pdf", class: 'faq', target: '_blank') %>
    </div>
    <h2 style="clear: right; text-align: center; margin-bottom: 30px;">
      <%= link_to(image_tag('logo.png'), root_path) %>
    </h2>
  </div>
</header>
