= render 'layouts/school_header'

- if @school_categories.blank?
  .row.pt-3.mt-3 &nbsp;

  .row.pt-3.mt-3
    .col-12.text-center
      %h3 Insufficient Responses
      %p No data is displayed for this school because of insufficient responses.
- else
  .row
    = render @school_categories.sort(&:root_index)

= render "shared/performance_spectrum"
