.row
  .col
    %p
      %strong Name:
      = @school.name
    - if @school.district.present?
      %p
        %strong District:
        = link_to @school.district.name, @school.district

.row
  = render @school_categories
