$primary-color: #9e9e9e; // grey
$darkgrey: #212121;
$lightgrey: #e0e0e0;
$lightgreen: #C8E6C9; // lightgreen
$lightred: #FFCDD2; // lightred
$lightyellow: #fcf5e2; // lightyellow
$orange: #ffab40; // orange
