$black: #3E3A38;
$gray-1: #595959;
$gray-2: #CECECE;
$gray-3: #F9F9F9;
$white: #FFFFFF;
$blue: #01788E;
$red: #C93047;

$teal: #00B0B3;
$mint: #B2D236;

$beige: #EFEBE1;

$warning: #FF73C0;
$watch: #F096AD;
$growth: #E0BA9A;
$approval: #D0DD86;
$ideal: #C0FF73;

.color-red {
  color: $red;
}

.color-black {
  color: $black;
}

.color-white {
  color: $white;
}

.color-blue {
  color: $blue;
}

.bg-color-beige {
  background-color: $beige;
}

.bg-color-blue {
  background-color: $blue;
}

.bg-color-white {
  background-color: $white;
}

.fill-black {
  fill: $black;
}

.fill-warning {
  fill: $warning;
}

.fill-watch {
  fill: $watch;
}

.fill-growth {
  fill: $growth;
}

.fill-approval {
  fill: $approval;
}

.fill-ideal {
  fill: $ideal;
}

.stroke-black {
  stroke: $black;
}

.stroke-gray-1 {
  stroke: $gray-1;
}

.stroke-gray-2 {
  stroke: $gray-2;
}
