@import 'bootstrap';
@import 'bootstrap-overrides';
@import 'colors';
@import 'fonts';
@import 'borders';

.graph-header {
  @extend .font-bitter;
  @extend .weight-700;
}

.graph-footer {
  font-family: 'Cabin', sans-serif;
}

.harvey-ball-legend {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @extend .p-3;
  @extend .bg-color-gray-3;
  @extend .border-radius-8;
}

.subcategory-card {
  @extend .p-3;
  @extend .body-small;
}

.subcategory-card__benchmark-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @extend .my-3;
}

.subcategory-card__circle {
  min-width: 24px;
  min-height: 24px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .me-3;
}

.subcategory-card__benchmark-label {
  font-size: 30px;
}

.school-quality-frameworks {
  display: grid;
  row-gap: map-get($spacers, 4);
  column-gap: map-get($spacers, 5);
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows:  repeat(4, max-content);
}

.zone-header {
  @extend .sub-header-4;
}

.subcategory-card__circle:focus {
  outline: none;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba($blue, 0.35);
}

.harvey-ball {
  stroke: $black;
}

.harvey-ball--ideal {
  fill: $purple;
}

.harvey-ball--approval {
  fill: $purple;
}

.harvey-ball--growth {
  fill: $gold;
}

.harvey-ball--watch {
  fill: $gold;
}

.harvey-ball--warning {
  fill: $white;
}

.harvey-ball--insufficient_data {
  stroke: $gray-2;
  fill: $gray-3;
}
