@import 'fonts';
@import 'bootstrap';
@import 'fonts';

.graph-header {
  @extend .font-bitter;
  @extend .weight-700;
}

.graph-footer {
  font-family: 'Cabin', sans-serif;
}

.category-card {
  flex-basis: 20%;
  height: 600px;
}

.category-card__title {
  height: 9%;
}

.category-card__description {
  height: 44%;
  @extend .font-cabin;
  @extend .weight-400;
}

.category-card__button {
  height: 10%;
}

.category-card__icon {
  height: 7%;
}

.category-card__subcategory {
  height: 30%;
}

.subcategory-card {
  border: 1px solid #CECECE;
  background-color: $gray-4;
  min-width: 95%;
  margin: auto;
  padding: 8px;
  border: 1px solid #CECECE;
  font-size: 14px;
}

.subcategory-card__benchmark-icon {
  fill: Red;
}

.subcategory-card__benchmark-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @extend .my-3;
}

.subcategory-card__circle {
  min-width: 26px;
  min-height: 26px;
  margin-right: 4px;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .font-cabin;
  @extend .weight-400;
}

.subcategory-card__benchmark-label {
  font-size: 30px;
}

.school-quality-frameworks {
  background-color: $white;
}

