@import 'fonts';

.graph-header {
  @extend .font-bitter;
  @extend .weight-700;
}

.graph-footer {
  font-family: 'Cabin', sans-serif;
}

.category-card {
  flex-basis: 20%;
  align-items: center;
  padding: 0 10px;
}

.category-card__title {
  flex-basis: 20%;
  text-align: center;
}

.category-card__description {
  flex-basis: 20%;
  text-align: center;
}

.subcategory-card {
  flex-basis: 20%;
  border: 1px solid #CECECE;
  background-color: $gray-4;
  width: 90%;
  padding: 8px;
  border: 1px solid #CECECE;
  font-size: 14px;
}

.subcategory-card__benchmark-icon {
  fill: Red;
}
.subcategory-card__name {
  flex-basis: 20%;
}
.subcategory-card__benchmark-item {
  align-items: center;
}
.subcategory-card__circle-container {
  flex-basis: 30%;
}

.subcategory-card__benchmark-label {
  font-size: 30px;
}
.school-quality-frameworks {
  background-color: $white;
}

