.fdr {
  display: flex;
  flex-direction: row;
}

.fdc {
  display: flex;
  flex-direction: column;
}

.fjc {
  justify-content: center;
}

.fjb {
  justify-content: space-between;
}

.fjl {
  justify-content: left;
}

.fac {
  align-items: center;
}
