@import 'colors';

.font-bitter {
  font-family: 'Bitter', serif;
}

.font-cabin {
  font-family: 'Cabin', sans-serif;
}

.weight-700 {
  font-weight: 700;
}

.weight-600 {
  font-weight: 600;
}

.weight-400 {
  font-weight: 400;
}

.h1 {
  @extend .font-bitter;
  @extend .weight-600;
  font-size: 40px;
}

.h2 {
  @extend .font-bitter;
  @extend .weight-700;
  font-size: 28px;
}

.h3 {
  @extend .font-bitter;
  @extend .weight-700;
  font-size: 20px;
}

.h4 {
  @extend .font-bitter;
  @extend .weight-600;
  font-size: 16px;
}

.body-large {
  @extend .font-cabin;
  @extend .weight-400;
  font-size: 16px;
  line-height: 1.3;
}

.body-small {
  @extend .font-cabin;
  @extend .weight-400;
  font-size: 14px;
  line-height: 1.3;
}

.link {
  @extend .font-cabin;
  @extend .weight-600;
  font-size: 16px;
  color: $blue;
}
