.nav-tabs {
  margin-bottom: -1rem;
  border-bottom: 1px solid transparent;
  .nav-link {
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
.nav-item {
  margin-right: 1px;
}
