@import 'variables';

body {
  color: #333;
  font-family: 'Roboto', sans-serif;  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  font-size: 15px;
}

.notice, .alert, .subscription, .highlight {
  margin-top: 12px;
  padding: 24px;
  text-align: center;
  border-radius: 12px;
  a, a:hover, a:visited {
    text-decoration: underline;
  }
}

.notice {
  background-color: $lightgreen;
}

.alert {
  background-color: $lightred;
}

.highlight {
  background-color: $lightyellow;
}

header {
  border-bottom: 1px solid $primary-color;
  margin-bottom: 30px;

  a, a:hover, a:visited {
    color: $darkgrey;
    text-decoration: none;
  }
}

footer {
  height: 90px;
  border-top: 1px solid #ccc;
  padding-top: 12px;
  clear: both;
}

form {
  .form-group {
    padding-top: 12px;

    label {
      font-weight: bold;
    }

    .form-check-collection {
      .form-check-label {
        display: block;
        padding-bottom: 12px;
        font-weight: normal;
      }
    }
  }
}

@media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
  }

  body {
    padding:0;
  }
}
