@import 'variables';

body {
  color: #333;
  font-family: 'Roboto', sans-serif;  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.notice, .alert, .subscription, .highlight {
  margin-top: 12px;
  padding: 24px;
  text-align: center;
  border-radius: 12px;
  a, a:hover, a:visited {
    text-decoration: underline;
  }
}

.notice {
  background-color: $lightgreen;
}

.alert {
  background-color: $lightred;
}

.highlight {
  background-color: $lightyellow;
}

header {
  border-bottom: 1px solid $primary-color;
  margin-bottom: 30px;

  a, a:hover, a:visited {
    color: $darkgrey;
  }
}

footer {
  height: 90px;
  border-top: 1px solid #ccc;
  padding-top: 12px;
  clear: both;
}
