@import "bootstrap-overrides";
@import "bootstrap";
@import "clear-margin-padding";
@import "fonts";
@import "colors";
@import "fonts";
@import "borders";
@import "dashboard";
@import "buttons";

.height-56 {
  height: 56px;
}

.card {
  @extend .bg-color-white;
  @extend .p-5;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba($black, 0.25);
}

.section {
  @extend .mt-5;
  @extend .bg-color-white;
  @extend .p-7;
}

.gauge-graph-lg {
  width: 468px;
  height: auto;
}
