$spacer: 0.5rem;
$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 2),
        5: ($spacer * 3),
        6: ($spacer * 4),
        7: ($spacer * 5),
);

@import "bootstrap";
@import "reset";
@import "fonts";
@import "colors";
@import "borders";
@import "dashboard";


.height-56 {
  height: 56px;
}
