@import "bootstrap-overrides";
@import 'bootstrap/scss/bootstrap';
@import "clear-margin-padding";
@import "colors";
@import "fonts";
@import "borders";
@import "dashboard";
@import "navigation";
@import "buttons";
@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "footer.scss";

.height-56 {
  height: 56px;
}

.card {
  @extend .bg-color-white;
  @extend .mb-5;
  @extend .p-7;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba($black, 0.25);
}

.subcategory-section {
  @extend .mt-5;
  @extend .bg-color-white;
  box-shadow: 0 0 3px rgba($black, 0.25);
}

.gauge-graph-lg {
  width: 468px;
  height: auto;
}

.gauge-graph-sm {
  width: 268px;
  height: auto;
}

.gauge-title {
  margin-top: -1.5em;
  margin-bottom: 0;
}

.measure-presenter {
  flex-basis: 33%;
}

.measure-description {
  text-align: center;
}

.measure-card {
  @extend .bg-gray;
  box-shadow: 0px -1px 0px $gray-2;
}

.arrow-container {
  position: relative;
  top: -50px;
  left: 220px;
}

.arrow {
  background-color: $gray-3;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 96px;
  height: 48px;
  position: absolute;
  top: 2px;
  left: 1px;
}

.arrow-shadow {
  background-color: $gray-2;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 98px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
