<div id="empty-dataset-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">No results available</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> We’re unable to display results for the selected school and school year. </p>
        <p> You’re welcome to <a target="_blank" href="https://www.edcommonwealth.org/contacts">contact ECP</a> for more information</p>
      </div>
    </div>
  </div>
</div>
