<div id="empty-dataset-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">No results available</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>We’re unable to display results for the selected school and school year due to: </p>
        <ul>
          <li>Limited availability of school data</li>
          <li> Teacher and student survey response rates below 25% </li>
        </ul>
        <p> You may continue to explore the structure of the ECP School Quality Measures Framework, but we recommend selecting a different school and/or a different school year for the best experience.</p>
        <p> You’re also welcome to contact <a target="_blank" href="https://www.edcommonwealth.org/contacts">ECP staff</a> to help ensure this school has data for you to review next year.</p>
      </div>
    </div>
  </div>
</div>
