<div id="empty-dataset-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">No results available</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>We’re unable to display results for the selected school and school year due to one or more of the following reasons:</p>
        <ul>
          <li>Limited availability of school admin data</li>
          <li>Low teacher and/or student survey response rates </li>
          <li>Limited or no historical data for this school or district</li>
        </ul>
        <p>You may continue to explore the structure of the MCIEA School Quality Measures Framework if you like, but we recommend selecting a different school for the best experience.</p>
        <p>You’re also welcome to <a href="https://www.mciea.org/contact.html" target="_blank">contact MCIEA</a> to help ensure this school has data for you to review next year.</p>
      </div>
    </div>
  </div>
</div>
