<footer class="d-flex justify-content-center">
  <p class="footer-item">Copyright © 2023</p>
  <%= link_to "ECP" , "https://www.edcommonwealth.org/" , class: "footer-item footer-link", target: "_blank" %>
  <%= link_to "Contact Us" , "https://www.edcommonwealth.org/contacts" , class: "footer-item footer-link", target: "_blank" %>
</footer>
