<footer class="d-flex justify-content-center">
  <p class="footer-item">Copyright © 2022</p>
  <%= link_to "Lowell" , "https://www.lowell.k12.ma.us/" , class: "footer-item footer-link", target: "_blank" %>
</footer>
