<footer class="d-flex justify-content-center">
    <p class="footer-item">Copyright © 2025</p>
    <%= link_to "MCIEA.org" , "https://www.mciea.org/" , class: "footer-item footer-link", target: "_blank" %>
    <%= link_to "Contact Us" , "https://www.mciea.org/contact", class: "footer-item footer-link", target: "_blank"%>
</footer>
